#!KAMAILIO

# Define local variables
#!define LOCAL_IP "172.18.0.2" 
#!define LOCAL_PORT 5060

####### Global Parameters #########
listen=udp:LOCAL_IP:LOCAL_PORT

### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
debug=2
log_stderror=no
 
memdbg=5
memlog=5
 
log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "
 
children=4
auto_aliases=no

shm_mem_size=800
server_header="Server: EthaSwitch"
user_agent_header="User-Agent: EthaLab"

####### Modules Section ########
/* set paths to location of modules */
#mpath="/usr/local/lib/kamailio/modules/"

loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "debugger.so"
loadmodule "textops.so"
loadmodule "textopsx.so"
loadmodule "ipops.so"
loadmodule "avp.so"
loadmodule "dialog.so"

# loadmodule "db_mysql.so"
loadmodule "db_postgres.so"
loadmodule "keepalive.so"
 
# auto-discard branches from previous serial forking leg
modparam("tm", "failure_reply_mode", 3)
# default retransmission timeout: 30sec
modparam("tm", "fr_timer", 30000)
# default invite retransmission timeout after 1xx: 120sec
modparam("tm", "fr_inv_timer", 120000)
modparam("tm", "auto_inv_100", 1)
modparam("tm", "reparse_invite", 1) 

# group module
loadmodule "group.so"
modparam("group", "db_url","postgres://kamailio:kamailiorw@172.18.0.8/kamailio")
modparam("group", "re_table", "re_grp")

# DISPATCHER module
loadmodule "dispatcher.so"
modparam("dispatcher", "list_file", "/etc/kamailio/dispatcher.list")
modparam("dispatcher", "flags",2) 
modparam("dispatcher", "use_default", 1)
modparam("dispatcher", "xavp_dst", "_dsdst_")
modparam("dispatcher", "ds_ping_method", "OPTIONS")
modparam("dispatcher", "ds_ping_interval", 15)
modparam("dispatcher", "ds_probing_mode", 1)
modparam("dispatcher", "ds_hash_size", 10)

# ----- rr params -----
# set next param to 1 to add value to ;lr param (helps with some UAs)
modparam("rr", "enable_full_lr", 0)
# do not append from tag to the RR (no need for this script)
modparam("rr", "append_fromtag", 0)

# ----- debugger params -----
modparam("debugger", "cfgtrace", 0)
modparam("debugger", "log_level_name", "exec")


####### Routing Logic ########
request_route {

	# populate re_grp table: 761 760 2123 12415 123 7676 2000100 (tech_prefix = incoming SIP trunk DID number)
	if(is_method("INVITE")){
		dlg_manage();
		
		if(get_user_group("From", "$avp(s:setid)")){				
			if(ds_select_routes("$avp(setid)=10", "ruri")) {
				t_on_failure("REROUTE");
				route(RELAY);
			}			
		}
	}

	if(is_method("ACK|BYE")){		
		$rd=$dlg_var(ruri);
		route(RELAY);
	}
}

route[RELAY]{
	t_relay();
	exit;
}

failure_route["REROUTE"]{
	if(t_check_status("3[0-9][0-9]|4[0-9][0-9]|5[0-9][0-9]")){
		if(ds_next_domain()){
			t_on_failure("REROUTE");
			route(RELAY);
		}		
	}
}

event_route[dialog:start]{	
	$dlg_var(ruri)=$si;
}

