#!KAMAILIO

# Define local variables
#
#!define LOCAL_IP "172.18.0.2" 
#!define LOCAL_PORT 5060

####### Global Parameters #########

listen=udp:LOCAL_IP:LOCAL_PORT

### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
debug=2
log_stderror=no
 
memdbg=5
memlog=5
 
log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "
 
children=4
auto_aliases=no
 
server_header="Server: AVA SBC"
user_agent_header="User-Agent: AVA SBC"
shm_mem_size=800
#pkg_mem_size=64

####### Modules Section ########
 
/* set paths to location of modules */
#mpath="/usr/local/lib/kamailio/modules/"

loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "debugger.so"
loadmodule "textops.so"
loadmodule "textopsx.so"
loadmodule "ipops.so"
loadmodule "avp.so"
loadmodule "jsonrpcs.so"
loadmodule "dialog.so"

loadmodule "htable.so"
modparam("htable", "htable", "a=>size=8;initval=0")
 
# auto-discard branches from previous serial forking leg
modparam("tm", "failure_reply_mode", 3)
# default retransmission timeout: 30sec
modparam("tm", "fr_timer", 30000)
# default invite retransmission timeout after 1xx: 120sec
modparam("tm", "fr_inv_timer", 120000)
modparam("tm", "auto_inv_100", 1)
modparam("tm", "reparse_invite", 1) 

# ----- rr params -----
# set next param to 1 to add value to ;lr param (helps with some UAs)
modparam("rr", "enable_full_lr", 0)
# do not append from tag to the RR (no need for this script)
modparam("rr", "append_fromtag", 0)

# ----- debugger params -----
modparam("debugger", "cfgtrace", 0)
modparam("debugger", "log_level_name", "exec")


####### Routing Logic ########
request_route {
	if (is_method("INVITE") && (!has_totag())) {
	    route(CREATE_DIALOG);
	    route(UPDATE_REQUEST);
	}
	
        t_on_reply("1");

	if(is_method("ACK|BYE")) {
	    route(UPDATE_REQUEST);
        }
	
        $rd="172.18.0.4";

	if (!t_relay()) {
                sl_reply_error();
        }

    exit;
}

# Wrapper for relaying requests
route[CREATE_DIALOG] {
		#create dialog
		dlg_manage();

		$dlg_var(callid)=$dlg(callid);
		$dlg_var(from_contact)=$dlg(from_contact);
		$dlg_var(to_contact)=$dlg(to_contact);
		$dlg_var(from_cseq)=$dlg(from_cseq);
		$dlg_var(to_cseq)=$dlg(to_cseq);
}

route[UPDATE_REQUEST] {
		#remove all via hdrs different from local domain
 		remove_hf_value("via[*]");		

		#remove all record_route hdrs different from local domain
		remove_hf_value("record-route[*]");		

		#remove all route hdrs different from local domain
		remove_hf_value("route[*]");		

		#check TO hdr domain 
		if(!is_myself("$td")){
			$td=LOCAL_IP;
		}

		#check FROM hdr domain 
		if(!is_myself("$fd")){
			$fd=LOCAL_IP;
		}

		#check call-id hdr domain
		remove_hf("Call-ID");

		$var(x)=$dlg_var(callid);
		$var(p1)=$(var(x){s.select,0,@});
		#$var(p2)=$(var(x){s.select,1,@});
		$var(x)='Call-ID: '+$var(p1)+'@'+LOCAL_IP;
	
		append_hf("$var(x)\r\n");

		#check contact hdr domain 
		remove_hf("Contact");

		$var(x)=$dlg_var(from_contact);
		$var(p1)=$(var(x){s.select,0,@});
		#$var(p2)=$(var(x){s.select,1,@});
		$var(x)='Contact: '+$var(p1)+'@'+LOCAL_IP+':'+LOCAL_PORT;
		append_hf("$var(x)\r\n");
}

onreply_route[1]{
		remove_hf("Call-ID");
		remove_hf("Contact");

		if(is_method("INVITE")){
			if( t_check_status("200")) {
				$var(x)=$ct;
				$var(p1)=$(var(x){s.select,0,:});
				$var(p2)=$(var(x){s.select,1,:});
				$var(x)=$var(p1)+':'+$tU+'@'+$var(p2)+':'+LOCAL_PORT+'>';
				$dlg_var(test) = $var(x);
				$dlg_var(xx) = $var(p2);
			} 

			append_hf("Call-ID: $dlg_var(callid)\r\n");
			append_hf("Contact: $dlg_var(from_contact)\r\n");
		}

		if(is_method("BYE") && t_check_status("200")) {
			append_hf("Call-ID: $sht(a=>$ci)\r\n");
			append_hf("Contact: $sht(a=>$ct)\r\n");
		}
}

event_route[dialog:start] {
	$sht(a=>$ci)=$dlg_var(callid);
	$sht(a=>$ct)=$dlg_var(from_contact);
}
