#!KAMAILIO

# Define local variables
#
#!define LOCAL_IP "172.18.0.2" 
#!define LOCAL_PORT 5060

####### Global Parameters #########

listen=udp:LOCAL_IP:LOCAL_PORT

### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
debug=2
log_stderror=no
 
memdbg=5
memlog=5
 
log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "
 
children=4
auto_aliases=no
 
server_header="Server: EthaSwitch"
user_agent_header="User-Agent: EthaLabs"
shm_mem_size=800
#pkg_mem_size=64

####### Modules Section ########
 
/* set paths to location of modules */
#mpath="/usr/local/lib/kamailio/modules/"

loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "debugger.so"
loadmodule "textops.so"
loadmodule "textopsx.so"
loadmodule "ipops.so"
loadmodule "avp.so"
loadmodule "jsonrpcs.so"
loadmodule "dialog.so"
 
# auto-discard branches from previous serial forking leg
modparam("tm", "failure_reply_mode", 3)
# default retransmission timeout: 30sec
modparam("tm", "fr_timer", 30000)
# default invite retransmission timeout after 1xx: 120sec
modparam("tm", "fr_inv_timer", 120000)
modparam("tm", "auto_inv_100", 1)
modparam("tm", "reparse_invite", 1) 

# ----- rr params -----
# set next param to 1 to add value to ;lr param (helps with some UAs)
modparam("rr", "enable_full_lr", 0)
# do not append from tag to the RR (no need for this script)
modparam("rr", "append_fromtag", 0)

# ----- debugger params -----
modparam("debugger", "cfgtrace", 0)
modparam("debugger", "log_level_name", "exec")


####### Routing Logic ########
request_route {
	#if (is_method("INVITE") && (!has_totag())) {
		dlg_manage();
	#}
        
	$rd="172.18.0.4";

	if (!t_relay()) {
                sl_reply_error();
        }

        exit;
}

event_route[dialog:start] {
        route(WRITE_CDR_START);
}

event_route[dialog:end] {
        route(WRITE_CDR_END);
}

event_route[dialog:failed] {
        route(WRITE_CDR_FAILED_CALL);
}

route[WRITE_CDR_START] {

    jansson_set("string", "start_time", $dlg(start_ts), "$avp(json_request)"); 
    jansson_set("string", "alert_time", $dlg_var(alert_time), "$avp(json_request)"); 
    jansson_set("string", "connect_time", $dlg_var(connect_time), "$avp(json_request)"); 
    jansson_set("string", "disconnect_time", $dlg_var(disconnect_time), "$avp(json_request)"); 
    jansson_set("string", "destination_name", $tU, "$avp(json_request)"); 
    jansson_set("obj", "customer", '{"call_id":"$dlg(callid)","name":"RouteInspector","id":"221","epgroup":"0","destination_prefix":"0","rate":"1","signalling_ip":"$si","country_name":"IRAN","destination_name":"Iran - Mobile MTN","ani_number":"$fU","destination_number":"$tU","disconnect_cause":"$rs"}', "$avp(json_request)"); 
    jansson_set("obj", "provider", '{"call_id":"$ci","signalling_ip":"$su","name":"0","id":"0","epgroup":"0","tech_prefix":"0","rate":"1","ani_number":"0","destination_number":"$tU","disconnect_cause":"$rs"}', "$avp(json_request)");

    xlog("L_INFO", "--ETHASWITCH-- cdr: $avp(json_request)\r\n");
    rabbitmq_publish(RABBITMQ_EXCHANGE, "cdr_request","application/json", "$avp(json_request)");
}

route[WRITE_CDR_END] {

    jansson_set("string", "start_time", $dlg(start_ts), "$avp(json_request)"); 
    jansson_set("string", "alert_time", $dlg_var(alert_time), "$avp(json_request)"); 
    jansson_set("string", "connect_time", $dlg_var(connect_time), "$avp(json_request)"); 
    jansson_set("string", "disconnect_time", $dlg_var(disconnect_time), "$avp(json_request)"); 
    jansson_set("string", "destination_name", $tU, "$avp(json_request)"); 
    jansson_set("obj", "customer", '{"call_id":"$dlg(callid)","name":"RouteInspector","id":"221","epgroup":"0","destination_prefix":"0","rate":"1","signalling_ip":"$si","country_name":"IRAN","destination_name":"Iran - Mobile MTN","ani_number":"$fU","destination_number":"$tU","disconnect_cause":"$rs"}', "$avp(json_request)"); 
    jansson_set("obj", "provider", '{"call_id":"$ci","signalling_ip":"$su","name":"0","id":"0","epgroup":"0","tech_prefix":"0","rate":"1","ani_number":"0","destination_number":"$tU","disconnect_cause":"$rs"}', "$avp(json_request)");

    xlog("L_INFO", "--ETHASWITCH-- cdr: $avp(json_request)\r\n");
    rabbitmq_publish(RABBITMQ_EXCHANGE, "cdr_request","application/json", "$avp(json_request)");
}

route[WRITE_CDR_FAILED_CALL] {
        
    # missed calls    	
    jansson_set("string", "start_time", $Ts, "$avp(json_request)"); 
    jansson_set("string", "alert_time", $Ts, "$avp(json_request)"); 
    jansson_set("string", "connect_time", $Ts, "$avp(json_request)"); 
    jansson_set("string", "disconnect_time", $Ts, "$avp(json_request)"); 
    jansson_set("string", "destination_name", $tU, "$avp(json_request)"); 
    jansson_set("obj", "customer", '{"call_id":"$dlg(callid)","name":"RouteInspector","id":"221","epgroup":"0","destination_prefix":"0","rate":"1","signalling_ip":"$si","country_name":"IRAN","destination_name":"Iran - Mobile MTN","ani_number":"$fU","destination_number":"$tU","disconnect_cause":"$rs"}', "$avp(json_request)"); 
    jansson_set("obj", "provider", '{"call_id":"$ci","signalling_ip":"$su","name":"0","id":"0","epgroup":"0","tech_prefix":"0","rate":"1","ani_number":"0","destination_number":"$tU","disconnect_cause":"$rs"}', "$avp(json_request)");

    xlog("L_INFO", "--ETHASWITCH-- cdr: $avp(json_request)\r\n");
    rabbitmq_publish(RABBITMQ_EXCHANGE, "cdr_request","application/json", "$avp(json_request)");
}

