#!KAMAILIO

# Define local variables
#
#!define LOCAL_IP "172.18.0.2" 
#!define LOCAL_PORT 5060

####### Global Parameters #########

listen=udp:LOCAL_IP:LOCAL_PORT

### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
debug=2
log_stderror=no
 
memdbg=5
memlog=5
 
log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "
 
children=4
auto_aliases=no
 
server_header="Server: EthaSwitch"
user_agent_header="User-Agent: EthaLab"
shm_mem_size=800
#pkg_mem_size=64

####### Modules Section ########
 
/* set paths to location of modules */
#mpath="/usr/local/lib/kamailio/modules/"

loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "debugger.so"
loadmodule "textops.so"
loadmodule "textopsx.so"
loadmodule "ipops.so"
loadmodule "avp.so"
loadmodule "jsonrpcs.so"
loadmodule "dialog.so"
 
# auto-discard branches from previous serial forking leg
modparam("tm", "failure_reply_mode", 3)
# default retransmission timeout: 30sec
modparam("tm", "fr_timer", 30000)
# default invite retransmission timeout after 1xx: 120sec
modparam("tm", "fr_inv_timer", 120000)
modparam("tm", "auto_inv_100", 1)
modparam("tm", "reparse_invite", 1) 

# ----- rr params -----
# set next param to 1 to add value to ;lr param (helps with some UAs)
modparam("rr", "enable_full_lr", 0)
# do not append from tag to the RR (no need for this script)
modparam("rr", "append_fromtag", 0)

# ----- debugger params -----
modparam("debugger", "cfgtrace", 0)
modparam("debugger", "log_level_name", "exec")


####### Routing Logic ########
request_route {
	#if (is_method("INVITE") && (!has_totag())) {
		dlg_manage();
	#}
        
	$rd="172.18.0.4";

	if (!t_relay()) {
                sl_reply_error();
        }

        exit;
}

event_route[dialog:start] {
        route(WRITE_CDR_START);
}

event_route[dialog:end] {
        route(WRITE_CDR_END);
}

event_route[dialog:failed] {
        route(WRITE_CDR_FAILED_CALL);
}

route[WRITE_CDR_START] {
	$avp(json_request) = "
        {
                \"start_time\":\""+$dlg(start_ts)+"\",
                \"alert_time\":\""+$dlg_var(alert_time)+"\",
                \"connect_time\":\""+$dlg_var(connect_time)+"\",
                \"disconnect_time\":\""+$dlg_var(disconnect_time)+"\",
                \"destination_name\":\""+$dlg_var(destination_number)+"\",
                \"customer\":{
                        \"call_id\":\""+$dlg(callid)+"\",
                        \"name\":\""+$dlg_var(customer_name)+"\",
                        \"id\":\""+$dlg_var(customer_id)+"\",
                        \"epgroup\":\""+$dlg_var(customer_epgroup)+"\",
                                \"destination_prefix\":\""+$dlg_var(customer_destination_prefix)+"\",
                                \"rate\":\""+$dlg_var(customer_rate)+"\",
                                \"signalling_ip\":\""+$dlg_var(customer_signalling_ip)+"\",
                                \"country_name\":\""+$dlg_var(customer_country_name)+"\",
                                \"destination_name\":\""+$dlg_var(customer_destination_name)+"\",
                                \"ani_number\":\""+$dlg_var(customer_ani_number)+"\",
                                \"destination_number\":\""+$dlg_var(customer_destination_number)+"\",
                                \"disconnect_cause\":\""+$dlg_var(disconnect_cause)+"\"
                        },
                        \"provider\":{
                                \"call_id\":\""+$dlg_var(customer_call_id)+"\",
                                \"signalling_ip\":\""+$dlg_var(provider_signalling_ip)+"\",
                                \"name\":\""+$dlg_var(provider_name)+"\",
                                \"id\":\""+$dlg_var(provider_id)+"\",
                                \"epgroup\":\""+$dlg_var(provider_epgroup)+"\",
                                \"tech_prefix\":\""+$dlg_var(provider_tech_prefix)+"\",
                                \"rate\":\""+$dlg_var(provider_rate)+"\",
                                \"ani_number\":\""+$dlg_var(provider_ani_number)+"\",
                                \"destination_number\":\""+$dlg_var(provider_destination_number)+"\",
                                \"disconnect_cause\":\""+$dlg_var(disconnect_cause)+"\"
                        }
        }";

        xlog("L_INFO", "--ETHASWITCH-- cdr: $avp(json_request)\r\n");
        rabbitmq_publish(RABBITMQ_EXCHANGE, "cdr_request","application/json", "$avp(json_request)");
}

route[WRITE_CDR_END] {
	$avp(json_request) = "
        {
                \"setup_time\":\""+$dlg_var(setup_time)+"\",
                \"alert_time\":\""+$dlg_var(alert_time)+"\",
                \"connect_time\":\""+$dlg_var(connect_time)+"\",
                \"disconnect_time\":\""+$dlg_var(disconnect_time)+"\",
                \"destination_name\":\""+$dlg_var(destination_number)+"\",
                \"customer\":{
                        \"call_id\":\""+$dlg_var(customer_call_id)+"\",
                        \"name\":\""+$dlg_var(customer_name)+"\",
                        \"id\":\""+$dlg_var(customer_id)+"\",
                        \"epgroup\":\""+$dlg_var(customer_epgroup)+"\",
                                \"destination_prefix\":\""+$dlg_var(customer_destination_prefix)+"\",
                                \"rate\":\""+$dlg_var(customer_rate)+"\",
                                \"signalling_ip\":\""+$dlg_var(customer_signalling_ip)+"\",
                                \"country_name\":\""+$dlg_var(customer_country_name)+"\",
                                \"destination_name\":\""+$dlg_var(customer_destination_name)+"\",
                                \"ani_number\":\""+$dlg_var(customer_ani_number)+"\",
                                \"destination_number\":\""+$dlg_var(customer_destination_number)+"\",
                                \"disconnect_cause\":\""+$dlg_var(disconnect_cause)+"\"
                        },
                        \"provider\":{
                                \"call_id\":\""+$dlg_var(customer_call_id)+"\",
                                \"signalling_ip\":\""+$dlg_var(provider_signalling_ip)+"\",
                                \"name\":\""+$dlg_var(provider_name)+"\",
                                \"id\":\""+$dlg_var(provider_id)+"\",
                                \"epgroup\":\""+$dlg_var(provider_epgroup)+"\",
                                \"tech_prefix\":\""+$dlg_var(provider_tech_prefix)+"\",
                                \"rate\":\""+$dlg_var(provider_rate)+"\",
                                \"ani_number\":\""+$dlg_var(provider_ani_number)+"\",
                                \"destination_number\":\""+$dlg_var(provider_destination_number)+"\",
                                \"disconnect_cause\":\""+$dlg_var(disconnect_cause)+"\"
                        }
        }";

        xlog("L_INFO", "--ETHASWITCH-- cdr: $avp(json_request)\r\n");
        rabbitmq_publish(RABBITMQ_EXCHANGE, "cdr_request","application/json", "$avp(json_request)");
}

route[WRITE_CDR_FAILED_CALL] {
	$avp(json_request) = "
        {
                \"request\":\""+$rm+"\",
                \"CSeq Number\":\""+$cs+"\",
                \"Destination URI\":\""+$du+"\",
                \"From URI\":\""+$fU+"\",
                \"To URI\":\""+$tU+"\",
                \"Call-ID\":\""+$dlg(callid)+"\",
                \"Source IP address\":\""+$si+"\",
                \"Source port\":\""+$sp+"\",
                \"Time-seconds\":\""+$TV(Sn)+"\",
        }";

        xlog("L_INFO", "--ETHASWITCH-- cdr: $avp(json_request)\r\n");
        rabbitmq_publish(RABBITMQ_EXCHANGE, "cdr_request","application/json", "$avp(json_request)");
}

